@import "helpers";
@import "variables";
@import url('http://fonts.cdnfonts.com/css/sofia-pro');


body {
    font-family: 'Sofia Pro',sans-serif;
    background-color: $bg;
}

.header {
    background: white;
    margin: 0;
    padding: 0;
    margin: -10px;
    &__logo {
        max-width: $max-width;
        svg {
            width: 300px;
            padding:1em;
        }
    }
    .ia-logo .cls-2[data-v-4da1053d] {
        fill: $inspiring-pink;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    section {
        margin-top: 2em;
    }
}
.main {
    display:flex;
    max-width: $max-width;
    // align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    &__info {
        margin:1em 3em;
        max-width: 502px;
        h2 {
            margin-top:0;    
            font-size: 2.5rem;
            font-weight: 200;
            line-height: 1.07;
            margin-bottom: 16px;
        }
        p {
        font-weight: 200;
        font-size: 1.4rem;
        }
        &__controls {
            margin-bottom:.5em;
            display: flex;
            justify-content: space-between;
            h3 {
                margin:0;    
                font-size: 2.5rem;
                font-weight: 200;
            }
            &__reset {
                background-color: $inspiring-blue;
                color:white;
                padding: 5px 7px 0px 5px;
                font-size:2em;
                font-weight: 200;
                border-radius:5px;
                @extend %transition;
            }
            &__reset:hover {
                cursor: pointer;
                background-color: $inspiring-darker-blue;
            }
            &__show-answers:hover {
                cursor: pointer;
            }
        }
    }
}

.logo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    &__circles {
        max-width: 350px;
        display:flex;
        justify-content: start;
        margin-bottom:.5em;
        &__circle {
            margin: 5px;
            img {
                height: 60px;
                width: 100%;
            }
        }
    }
    &__dropzones {
        max-width: 350px;
        position: relative;
        img {
            width: 100%;
        }
        &__zones {
            &__zone {
                display:flex;
                justify-content: center;
                align-items: center;
                position:absolute;
                width: 22%;
                height: 22%;
                border-radius: 100%;
                &:nth-child(1) {
                    top: 27.6%;
                    left: 4%;
                }
                &:nth-child(2) {
                    top: 51.4%;
                    left: 20%;
                }
                &:nth-child(3) {
                    top: 43.5%;
                    left: 66%;
                }
                &:nth-child(4) {
                    top: 7.9%;
                    left: 72%;                
                }
                &:nth-child(5) {
                    top: 3.8%;
                    left: 41.9%;          
                }
                img {
                    width:80%;
                }
            }
        }
    }
}

//---------------- Desktop -----------------
@media (min-width: 768px) {
    .container {
        margin-top:2em;
    }
    .main {
        &__info {
            margin:0em 3em 1em 0em;
        }
    }
}
//--------------- End Desktop ----------------

