.logo {
    max-width:446px;
    &__container {
        position: relative;
        img {
            width: 100%;
        }
        &__zones {
            &__zone {
                position:absolute;
                width:98px;
                height:98px;
                border-radius: 100%;
                border:2px solid red;
                opacity: 0;
                background-color: rgba(92, 92, 92, 0.459);
                &:nth-child(1) {
                    top: 28%;
                    left: 4%;
                }
                &:nth-child(2) {
                    top: 51%;
                    left: 20%;
                }
                &:nth-child(3) {
                    top: 43%;
                    left: 66%;
                }
                &:nth-child(4) {
                    top: 8%;
                    left: 72%;                
                }
                &:nth-child(5) {
                    top: 3.8%;
                    left: 41.7%;            
                }
            }
        }
    }
}